[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fs = "*"
requests = "*"
requests-oauthlib = "*"

[dev-packages]
pyperclip = "*"
pytest = "*"

[requires]
python_version = "3.7"
