# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:

  secrets:
    runs-on: ubuntu-latest
    outputs:
      valid: ${{ steps.check.outputs.valid }}
    steps:
      - name: Check for access to secrets
        id: check
        env:
          GRAPH_API_CLIENT_ID: ${{ secrets.GRAPH_API_CLIENT_ID }}
          GRAPH_API_CLIENT_SECRET: ${{ secrets.GRAPH_API_CLIENT_SECRET }}
          GRAPH_API_TOKEN_READONLY: ${{ secrets.GRAPH_API_TOKEN_READONLY }}
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        run: |
          valid=0
          if [ ! -z "$GRAPH_API_CLIENT_ID" ] && [ ! -z "$GRAPH_API_CLIENT_SECRET" ] && [ ! -z "$GRAPH_API_TOKEN_READONLY" ] && [ ! -z "$NGROK_AUTH_TOKEN" ]
          then
            echo "Secrets are available"
            valid=1
          else
            echo "Secrets are not available"
          fi

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false      
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.create false
        poetry install
    - name: Linter
      run: |
        pylint fs/onedrivefs/ tests/
    - name: Tests
      env:
        GRAPH_API_CLIENT_ID: ${{ secrets.GRAPH_API_CLIENT_ID }}
        GRAPH_API_CLIENT_SECRET: ${{ secrets.GRAPH_API_CLIENT_SECRET }}
        GRAPH_API_TOKEN_READONLY: ${{ secrets.GRAPH_API_TOKEN_READONLY }}
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        XGITHUB_API_PERSONAL_TOKEN: ${{ secrets.XGITHUB_API_PERSONAL_TOKEN }}
        XGITHUB_REPO_OWNER: ${{ secrets.XGITHUB_REPO_OWNER }}
        XGITHUB_USERNAME: ${{ secrets.XGITHUB_USERNAME }}
      if: ${{needs.secrets.outputs.valid}} == 'true'
      run: |
        if python --version | grep -q 'Python 3.10' ; then
          pytest --cov=fs --reruns 2 --only-rerun requests.exceptions.HTTPError
          coverage xml
        fi
    - name: Coverage
      uses: codecov/codecov-action@v2.1.0
